<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>&copy;&nbsp;{{ site.time | date: '%Y' }} AvatarusGames</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
<!--        <a target= _blank rel=noreferrer href="https://miafam.com/groups/avatarusgames">
          <img src="/assets/img/footer-logo.png" width="30" height="30" alt="Miafam Social Network">
				</a>
			-->
      </p>
    </div>
  </div>
</footer>
<script type="text/javascript"> 
	$(document).ready(function() { 
		$("a.fancyimage").fancybox({
				//modal : true,
				padding : 2,
				openEffect : 'elastic',
				openSpeed  : 600,
				closeEffect : 'elastic',
				closeSpeed  : 150,
				prevEffect : 'elastic',
				prevSpeed  : 600,
				nextEffect : 'elastic',
				nextSpeed  : 600,
				arrows    : false,
				nextClick : true,
				closeBtn  : false,
				helpers : {
					thumbs :
					{
						width  : 100,
						height : 100
					},
					buttons: {}
				}
        }); 
	}); 
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#logo-text").lettering();
	});
</script>