<ul>
<li class="{% if page.overview %}current{% endif %}">
	  {% if site.lang == "ru" %}
		  <a href="{{site.url}}/ru/">{% t main.menuSection.menuMain %}</a>
	  {% else %}
		  <a href="{{site.url}}/en/">{% t main.menuSection.menuMain %}</a>
	  {% endif %}
  </li>
  <li class="{% if page.author %}current{% endif %}">
    {% if site.lang == "ru" %}
      <a href="{{site.url}}/ru/news/">{% t main.menuSection.menuNews %}</a>
    {% else %}
      <a href="{{site.url}}/en/news/">{% t main.menuSection.menuNews %}</a>
    {% endif %}
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{site.url}}/docs/home/">{% t main.menuSection.menuInfo %}</a>
  </li>
  <li class="current">
    {% if site.lang == "ru" %}
	<a href="{{site.url}}/en/">{{ site.languageNames["en"] }}</a>
    {% else %}
	<a href="{{site.url}}/ru/">{{ site.languageNames["ru"] }}</a>
    {% endif %}
  </li>
</ul>
