<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/{{ site.lang }}/favicon.ico">
    <meta name="description" content="{% t site.description %}"/>
    <meta name="keywords" content="{% t site.keywords %}"/>

	<script type="text/javascript" src="/assets/js/jquery/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/assets/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/assets/js/lettering/jquery.lettering.js"></script>
	<script type="text/javascript" src="/assets/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
	<link rel="stylesheet" href="/assets/js/fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/assets/js/fancybox/helpers/jquery.fancybox-buttons.js"></script>
	<link rel="stylesheet" href="/assets/js/fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />

    <title>{% t site.name %} - {% t site.tagline %}</title>
    {% seo %}
  </head>
